[Unit]
Description=OpenLinkHub Container
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/openlinkhub:latest
ContainerName=openlinkhub
UserNS=keep-id
User=openlinkhub:openlinkhub
Network=host
AddDevice=/dev/bus/usb
AddDevice=/dev/uinput
AddDevice=/dev/i2c-0
AddDevice=/dev/i2c-1
AddDevice=/dev/i2c-2
AddDevice=/dev/i2c-3
AddDevice=/dev/i2c-4
AddDevice=/dev/i2c-5
Volume=/dev:/dev:ro
Volume=/var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
Volume=%h/Projects/OpenLinkHub/config.json:/opt/OpenLinkHub/config.json
Volume=%h/Projects/OpenLinkHub/database:/opt/OpenLinkHub/database

[Service]
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target